<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    New Task
  </h1>
  <div >
    
    <form (submit)="onSubmit()">
        <!-- use the json pipe to see how newTask changes in real time -->
        <p> {{ newTask | json }} </p>
        <input type="text" name="newTask.title" [(ngModel)]="newTask.title" />
        <input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
      </form>
      
    </div>
    <div>
      
      <button (click)="onButtonClick()">Get all Tasks</button>
    </div>
    
    <div *ngFor="let task of tasks">
 <h3> {{task.title}} </h3> 
 <h5> {{task.description}} </h5> 
  <button (click)="editTask(task)">EDIT</button>
  <button (click)="deleteTask(task)">DELETE</button>
  
</div>

<app-task></app-task>
<div *ngIf="task">
  <form (submit)="onSubmitEdit(task._id)">
    <input type="text" name="task.title" [(ngModel)]="task.title" />
    <input type="text" name="task.description" [(ngModel)]="task.description" />
    <input type="submit" value="Edit Task" />
    
  </form>

</div>








</div>

<router-outlet></router-outlet>
